d6-business-map{
    position: relative;
}
#app-wrapper{
    position: relative;
    display: flex;
    -ms-flex-align: stretch;
    height: 800px;
}

cod-map{
    flex: 1;
}

#d6-map-nav{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 1em;
    left: 1em;
    z-index: 10;
}

.offcanvas-title img{
    width: 6em;
    position: relative;
    left: 8em;
}

#d6-start-screen{
    z-index: 11;
}

#welcome-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background: rgba(0, 0, 0, .5);
}

#welcome-container.close{
    display: none;
}

#d6-start-screen{
    width: 35em;
    background: white;
    margin: 1em auto 7em auto;
    padding: 1em;
    max-width: 90%;
}

#d6-start-screen-logo{
    display: flex;
}

#d6-start-screen-logo img{
    max-width: 15em;
    margin: auto;
}